<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="local-cache" value="C:\Users\offic\.nuget\packages" />
  </packageSources>
  <config>
    <add key="globalPackagesFolder" value="C:\Users\offic\.nuget\packages" />
  </config>
  <packageSourceMapping>
    <clear />
  </packageSourceMapping>
  <packageRestore>
    <add key="NuGetAudit" value="false" />
  </packageRestore>
</configuration>
